<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}","thread":"%t","line":"%L","log_level":"%p","class_name":"%C;","msg":`%m`}\n</pattern>
    </encoder>
  </appender>
  <appender name="fileout" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>../cibLogs/cibLog.log</File>
    <encoder>
      <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}","thread":"%t","line":"%L","log_level":"%p","class_name":"%C;","msg":`%m`}\n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>../cibLogs/cibLog.log.%d{yyyyMMdd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  
  
  <!-- ========================== logger begin ======================== -->
	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="org.apache.ibatis" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	
	<logger name="org.mybatis.spring" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- ========================== logger end ======================== -->
  
  <root level="error">
    <appender-ref ref="stdout"/>
    <appender-ref ref="fileout"/>
  </root>
</configuration>